In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [6]:
list=[10,20,14,55,43,87,76]
print("Number of items in the lists:",len(list))

Number of items in the lists: 7

In [1]:
text="Artificial Intelligence"
for char in text:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [2]:
Name=str(input("Your Name:"))
Age=int(input("Your Age:"))
Profession=str(input("Your Profession:"))

Your Name: sai
Your Age: 25
Your Profession: BE CSE

In [5]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [4]:
tup1=(0,1,2,3)
tup2=('Python','Hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [6]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if((num%2==1)):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [7]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if((num%2==0)):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even